// Place all the styles related to the MatchTypePlayers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.xfactor {
	.name		{text-align: left;}
	tr:hover	{background-color: #EEE;}
	a		{text-decoration: none;}

	td, th {
		padding: 0 0.5em;
		text-align: right;
		vertical-align: bottom;
		border-right:1px solid #DDD;
	}

	caption {
		text-align: left;
		margin-bottom: 1em;

		p		{margin: 0; font-size: 10px; line-height: 1.4em;}
		p:first-child	{font-weight:bold;}
	}
}
